.vs/
config/
deck/
*.pem
*.txt
*.exe
*.log
expansions/
!expansions/SecuterCards.cdb
!expansions/strings.conf
*.otf
*.dll
pics/
puzzles/
replay/
repositories/
script/*
!script/secuter/
skin/
sound/
textures/
WindBot/
updates/
.edopro_lock
