*.pem
*.txt
*.exe
*.log
*.otf
*.dll
*.bat
*.cdb
!*SecuterCards.cdb
.vs/
config/
*.lflist.conf
!SecuterTCG.lflist.conf
deck/
pics/
puzzles/
replay/
repositories/
script/*
!script/secuter/
script/secuter/c9999*
skin/
sound/
textures/
WindBot/
updates/
.edopro_lock
